{% extends "base.html" %}
{% load static %}
{% block title %}Edit User{% endblock %}
{% block navibar %}
 <nav class="navbar navbar-dark navbar-expand-md sticky-top shadow-lg" style="color: rgb(255,255,255);opacity: 1;background: var(--bs-secondary);">
        <div class="container"><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1" style="background-color: rgb(255,255,255);color: #ffffff;"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1" style="color: rgb(255,255,255);background-color: rgb(255,255,255);"><a href="/home/"><img src="{% static 'assets/img/icon.png' %}" style="width: 44px;"></a>
                <ul class="navbar-nav flex-grow-1 justify-content-between" style="color: rgb(156,156,156);background: var(--bs-secondary);">
                    <li class="nav-item"></li>
                    <li class="nav-item"><a class="nav-link scroll" data-bss-hover-animate="pulse" style="font-family: ABeeZee, sans-serif;color: var(--bs-white);font-size: 20px;" href="/users/" >Users</a></li>
                    <li class="nav-item"><a class="nav-link scroll" data-bss-hover-animate="pulse" style="font-family: ABeeZee, sans-serif;color: var(--bs-grey);font-size: 20px;" >Publishers</a></li>
                    <li class="nav-item"><a class="nav-link scroll" data-bss-hover-animate="pulse" style="font-family: ABeeZee, sans-serif;color: var(--bs-white);font-size: 20px;"  target="_top" href="/writers/">Writers</a></li>
                    <li class="nav-item"><a class="nav-link scroll" data-bss-hover-animate="pulse" style="font-family: ABeeZee, sans-serif;color: var(--bs-white);font-size: 20px;" href="/books/" >Books</a></li>
                    <li class="nav-item"><a class="nav-link scroll" data-bss-hover-animate="pulse" style="font-family: ABeeZee, sans-serif;color: var(--bs-white);font-size: 20px;" href="/orders/">Orders</a></li>
                    <li class="nav-item"><a class="nav-link" data-bss-hover-animate="pulse" style="font-family: ABeeZee, sans-serif;color: #ff5c5c;font-size: 20px;" href="/accounts/logout/"><i class="fa fa-user" style="color: #ff5c5c;"></i>&nbsp;<button class="btn btn-primary" type="button" style="background: var(--bs-red);color: var(--bs-white);">Log out</button></a></li>
                    <li class="nav-item"><a class="nav-link active"></a></li>
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}
{% block edit %}
<section style="padding: 70px; background: url(&quot;{% static 'assets/img/books2.jpg' %}&quot;) center / cover no-repeat;">
    <div class="container-fluid" style="padding:50px; width:70%; background:var(--bs-white)">
    <section class="contact-clean">
            <form method="post">
                {% csrf_token %}
                <h2 class="text-center">Publisher Information</h2>
                <div class="mb-3"><input class="form-control {% if nameerr %}is-invalid {% endif %}" type="text" name="name" placeholder="Name" value="{{name}}"><small class="form-text text-danger" required>{{nameerr}}</small></div>
                <div class="mb-3"><input class="form-control {% if phoneerr %}is-invalid {% endif %}" type="tel"  pattern="[0-9]{11}" name="phone_number" placeholder="Phone (Format:11 Digits)" value="{{phone_number}}" required><small class="form-text text-danger">{{phoneerr}}</small></div>
                <div class="mb-3"><input class="form-control {% if emailerr %}is-invalid {% endif %}" type="email" name="email" placeholder="Email" value="{{email}}" required><small class="form-text text-danger">{{emailerr}}</small></div>
                <div class="mb-3"><input class="form-control" type="text" name="address" placeholder="Address (Format: dd xx Road, xx City)" value="{{address}}" required></div>
                <div class="mb-3"><input class="form-control {% if nameerr %}is-invalid {% endif %}" type="text" name="contacts" placeholder="Contacts" value="{{contacts}}"></div><br>
                <div class="text-center mb-3"><button class="btn btn-danger text-center w-100" type="submit" style="background: var(--bs-yellow);">Submit</button></div>
            </form>
        </section>
    </div>
</section>
    <script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/stylish-portfolio.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.2/js/jquery.tablesorter.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.2/js/widgets/widget-filter.min.js"></script>
    <script src="{% static 'assets/js/Ludens---1-Index-Table-with-Search--Sort-Filters-1.js' %}"></script>
{% endblock %}